

.setting-scroll-bar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

.setting-scroll-bar:hover::-webkit-scrollbar-thumb {
  background-color: #c0bcbc;
}


.setting-scroll-bar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  opacity: 0; 
  transition: opacity 0.7s;
}

.setting-scroll-bar:hover::-webkit-scrollbar {
  opacity: 1; 
}

.setting-scroll-bar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}
